In [1]:
from src.config import API_KEY, SECRET_KEY
paper = True

In [1]:
import time
print('before')
time.sleep(2)
print('after')

before
after

In [ ]:
from datetime import datetime, timedelta
 
import alpaca
from alpaca.data.historical.option import OptionHistoricalDataClient, OptionLatestQuoteRequest

from alpaca.data.requests import StockLatestQuoteRequest

from alpaca.trading.client import TradingClient, GetAssetsRequest
from alpaca.trading.requests import GetOptionContractsRequest, LimitOrderRequest, MarketOrderRequest, GetOrdersRequest
from alpaca.trading.enums import AssetStatus, ContractType, OrderSide, OrderType, TimeInForce, QueryOrderStatus

In [ ]:
trade_client = TradingClient(api_key=API_KEY, secret_key=SECRET_KEY, paper=paper)
stock_data_client = StockHistoricalDataClient(api_key=API_KEY, secret_key=SECRET_KEY)

In [4]:
req = StockLatestQuoteRequest(
    symbol_or_symbols='TSLA'
)
stock_data_client.get_stock_latest_quote(req)

{'TSLA': {   'ask_exchange': 'V',
     'ask_price': 335.72,
     'ask_size': 1.0,
     'bid_exchange': 'V',
     'bid_price': 334.3,
     'bid_size': 1.0,
     'conditions': ['R'],
     'symbol': 'TSLA',
     'tape': 'C',
     'timestamp': datetime.datetime(2025, 5, 13, 18, 35, 6, 552651, tzinfo=TzInfo(UTC))}}

In [ ]:
# Create request parameters for the latest option trade
request_params = OptionLatestQuoteRequest(
	symbol="TSLA",  # Replace with the desired symbol
	expiration_date="2023-12-15",  # Replace with the desired expiration date
	strike_price=200.0,  # Replace with the desired strike price
	option_type="call"  # Replace with "call" or "put"
)

# Fetch the latest option trade
latest_trade = option_data_client.get_option_latest_trade(request_params)
latest_trade

In [7]:
acct = trade_client.get_account()
# print(f"Options approved level: {acct.options_approved_level}")
# print(f"Options trading level: {acct.options_trading_level}")
# print(f"Options Buying power: {acct.options_buying_power}")
acct

{   'account_blocked': False,
    'account_number': 'PA34S3LM8FBC',
    'accrued_fees': '0',
    'buying_power': '199998.88',
    'cash': '99999.44',
    'created_at': datetime.datetime(2025, 5, 9, 1, 25, 45, 986496, tzinfo=TzInfo(UTC)),
    'crypto_status': <AccountStatus.ACTIVE: 'ACTIVE'>,
    'currency': 'USD',
    'daytrade_count': 2,
    'daytrading_buying_power': '0',
    'equity': '99999.44',
    'id': UUID('6f8e9731-01b5-44d9-8857-46f324d76f7d'),
    'initial_margin': '0',
    'last_equity': '99999.44',
    'last_maintenance_margin': '0',
    'long_market_value': '0',
    'maintenance_margin': '0',
    'multiplier': '2',
    'non_marginable_buying_power': '99999.44',
    'options_approved_level': 3,
    'options_buying_power': '99999.44',
    'options_trading_level': 3,
    'pattern_day_trader': False,
    'pending_transfer_in': None,
    'pending_transfer_out': None,
    'portfolio_value': '99999.44',
    'regt_buying_power': '199998.88',
    'short_market_value': '0',
    'shorting_enabled': True,
    'sma': '100000',
    'status': <AccountStatus.ACTIVE: 'ACTIVE'>,
    'trade_suspended_by_user': False,
    'trading_blocked': False,
    'transfers_blocked': False}

In [ ]:
# set max options trading level, risk management
acct_config = trade_client.get_account_configurations()
print(f"max options trading level: {acct_config.max_options_trading_level}")

acct_config.max_options_trading_level = None
trade_client.set_account_configurations(acct_config)

acct_config = trade_client.get_account_configurations()
print(f"max options trading level: {acct_config.max_options_trading_level}")

In [5]:
# active options to buy
req = GetAssetsRequest(
    status = AssetStatus.ACTIVE,
    attributes = "options_enabled"
)

options_enabled_underlyings = trade_client.get_all_assets(req)
print(f"Number of Underlyings with options: {len(options_enabled_underlyings)}")

symbol = 'TSLA'
test = trade_client.get_asset(symbol_or_asset_id=symbol)
test
# print(f"{symbol} has options? {'options_enabled' in test.attributes}")

Number of Underlyings with options: 5831

{   'asset_class': <AssetClass.US_EQUITY: 'us_equity'>,
    'attributes': ['fractional_eh_enabled', 'has_options'],
    'easy_to_borrow': True,
    'exchange': <AssetExchange.NASDAQ: 'NASDAQ'>,
    'fractionable': True,
    'id': UUID('8ccae427-5dd0-45b3-b5fe-7ba5e422c766'),
    'maintenance_margin_requirement': 40.0,
    'marginable': True,
    'min_order_size': None,
    'min_trade_increment': None,
    'name': 'Tesla, Inc. Common Stock',
    'price_increment': None,
    'shortable': True,
    'status': <AssetStatus.ACTIVE: 'active'>,
    'symbol': 'TSLA',
    'tradable': True}

In [13]:
# account positions
positions = trade_client.get_all_positions()
# for p in positions:
#     print(p)
positions

[{   'asset_class': <AssetClass.US_EQUITY: 'us_equity'>,
     'asset_id': UUID('b0b6dd9d-8b9b-48a9-ba46-b9d54906e415'),
     'asset_marginable': True,
     'avg_entry_price': '212.425',
     'avg_entry_swap_rate': None,
     'change_today': '0.0078276958109967',
     'cost_basis': '424.85',
     'current_price': '212.44',
     'exchange': <AssetExchange.NASDAQ: 'NASDAQ'>,
     'lastday_price': '210.79',
     'market_value': '424.88',
     'qty': '2',
     'qty_available': '2',
     'side': <PositionSide.LONG: 'long'>,
     'swap_rate': None,
     'symbol': 'AAPL',
     'unrealized_intraday_pl': '0.03',
     'unrealized_intraday_plpc': '0.000070613157585',
     'unrealized_pl': '0.03',
     'unrealized_plpc': '0.000070613157585',
     'usd': None},
 {   'asset_class': <AssetClass.US_EQUITY: 'us_equity'>,
     'asset_id': UUID('b28f4066-5c6d-479b-a2af-85dc1a8f16fb'),
     'asset_marginable': True,
     'avg_entry_price': '587.91',
     'avg_entry_swap_rate': None,
     'change_today': '0.0085250175817767',
     'cost_basis': '587.91',
     'current_price': '587.96',
     'exchange': <AssetExchange.ARCA: 'ARCA'>,
     'lastday_price': '582.99',
     'market_value': '587.96',
     'qty': '1',
     'qty_available': '1',
     'side': <PositionSide.LONG: 'long'>,
     'swap_rate': None,
     'symbol': 'SPY',
     'unrealized_intraday_pl': '0.05',
     'unrealized_intraday_plpc': '0.0000850470310081',
     'unrealized_pl': '0.05',
     'unrealized_plpc': '0.0000850470310081',
     'usd': None},
 {   'asset_class': <AssetClass.US_EQUITY: 'us_equity'>,
     'asset_id': UUID('8ccae427-5dd0-45b3-b5fe-7ba5e422c766'),
     'asset_marginable': True,
     'avg_entry_price': '335.69',
     'avg_entry_swap_rate': None,
     'change_today': '0.0543689930272002',
     'cost_basis': '335.69',
     'current_price': '335.69',
     'exchange': <AssetExchange.NASDAQ: 'NASDAQ'>,
     'lastday_price': '318.38',
     'market_value': '335.69',
     'qty': '1',
     'qty_available': '1',
     'side': <PositionSide.LONG: 'long'>,
     'swap_rate': None,
     'symbol': 'TSLA',
     'unrealized_intraday_pl': '0',
     'unrealized_intraday_plpc': '0',
     'unrealized_pl': '0',
     'unrealized_plpc': '0',
     'usd': None}]

In [5]:
today = datetime.now().date()
min_expiration = today + timedelta(days=14)
max_expiration = today + timedelta(days=90)

# trade_req = StockLatestTradeRequest(symbol_or_symbols=symbol)
# latest_trade = stock_data_client.get_stock_latest_trade(trade_req)
# last_price = latest_trade[symbol].price

# min_strike = str(round(last_price*1.02,2))

# print(f"{symbol} last trade price: {last_price}")
# print(f"Min exp: {min_expiration}")
# print(f"Max exp: {max_expiration}")
# print(f"Min strike: {min_strike}")

In [15]:
print(datetime.now().date())
# date = datetime.date(2025,5,13) - timedelta(days=3)
# date.day

2025-05-13

In [12]:
# create market order
req = MarketOrderRequest(
    symbol='SPY',
    qty=1,
    side=OrderSide.BUY,
    type=OrderType.MARKET,
    time_in_force=TimeInForce.DAY,
)
res = trade_client.submit_order(req)
res

# limit price request, buy when option reaches the limit price
# limit_order = LimitOrderRequest(
#     symbol='SPY',
#     qty=1,
#     side=OrderSide.BUY,
#     time_in_force=TimeInForce.DAY, # will sit until timeInForce determines when to be filled
#     limit_price=486.00
# )
# order = trade_client.submit_order(limit_order)

{   'asset_class': <AssetClass.US_EQUITY: 'us_equity'>,
    'asset_id': UUID('b28f4066-5c6d-479b-a2af-85dc1a8f16fb'),
    'canceled_at': None,
    'client_order_id': 'e5f7aec5-03dd-4047-a724-39938785f800',
    'created_at': datetime.datetime(2025, 5, 13, 18, 37, 1, 51822, tzinfo=TzInfo(UTC)),
    'expired_at': None,
    'expires_at': datetime.datetime(2025, 5, 13, 20, 0, tzinfo=TzInfo(UTC)),
    'extended_hours': False,
    'failed_at': None,
    'filled_at': None,
    'filled_avg_price': None,
    'filled_qty': '0',
    'hwm': None,
    'id': UUID('4c8dd311-f5df-4985-8bbd-a22c1193f31d'),
    'legs': None,
    'limit_price': None,
    'notional': None,
    'order_class': <OrderClass.SIMPLE: 'simple'>,
    'order_type': <OrderType.MARKET: 'market'>,
    'position_intent': <PositionIntent.BUY_TO_OPEN: 'buy_to_open'>,
    'qty': '1',
    'ratio_qty': None,
    'replaced_at': None,
    'replaced_by': None,
    'replaces': None,
    'side': <OrderSide.BUY: 'buy'>,
    'status': <OrderStatus.PENDING_NEW: 'pending_new'>,
    'stop_price': None,
    'submitted_at': datetime.datetime(2025, 5, 13, 18, 37, 1, 51822, tzinfo=TzInfo(UTC)),
    'symbol': 'SPY',
    'time_in_force': <TimeInForce.DAY: 'day'>,
    'trail_percent': None,
    'trail_price': None,
    'type': <OrderType.MARKET: 'market'>,
    'updated_at': datetime.datetime(2025, 5, 13, 18, 37, 1, 52905, tzinfo=TzInfo(UTC))}

In [ ]:
# get unfilled orders to manage based off trading algorithm
req = GetOrdersRequest(
    status=QueryOrderStatus.OPEN
)
order = trade_client.get_orders(req)
# print(order)

for elem in order:
    trade_client.cancel_order_by_id(elem.id)

In [ ]:
# close position
symbol = positions[0].symbol
trade_client.close_position(
    symbol_or_asset_id=symbol
)

In [36]:
from alpaca.data import StockHistoricalDataClient
from alpaca.data.requests import StockLatestQuoteRequest, StockBarsRequest
from alpaca.data.timeframe import TimeFrame

stock_data_client = StockHistoricalDataClient(api_key=API_KEY, secret_key=SECRET_KEY)
req = StockBarsRequest(symbol_or_symbols='AAPL', start=datetime(2025,1,1), timeframe=TimeFrame.Day)

res = stock_data_client.get_stock_bars(req)
# print(len(res['AAPL']))
res['AAPL'][0:5]
# stock_data_client.get_stock_latest_quote(req)

# len(res.AAPL)

[{   'close': 243.85,
     'high': 249.1,
     'low': 241.8201,
     'open': 248.93,
     'symbol': 'AAPL',
     'timestamp': datetime.datetime(2025, 1, 2, 5, 0, tzinfo=TzInfo(UTC)),
     'trade_count': 685448.0,
     'volume': 55740731.0,
     'vwap': 244.339399},
 {   'close': 243.36,
     'high': 244.18,
     'low': 241.89,
     'open': 243.36,
     'symbol': 'AAPL',
     'timestamp': datetime.datetime(2025, 1, 3, 5, 0, tzinfo=TzInfo(UTC)),
     'trade_count': 493786.0,
     'volume': 40244114.0,
     'vwap': 243.069441},
 {   'close': 245.0,
     'high': 247.33,
     'low': 243.2,
     'open': 244.31,
     'symbol': 'AAPL',
     'timestamp': datetime.datetime(2025, 1, 6, 5, 0, tzinfo=TzInfo(UTC)),
     'trade_count': 493920.0,
     'volume': 45045571.0,
     'vwap': 245.23906},
 {   'close': 242.21,
     'high': 245.55,
     'low': 241.35,
     'open': 242.98,
     'symbol': 'AAPL',
     'timestamp': datetime.datetime(2025, 1, 7, 5, 0, tzinfo=TzInfo(UTC)),
     'trade_count': 462887.0,
     'volume': 40855960.0,
     'vwap': 243.011137},
 {   'close': 242.7,
     'high': 243.7123,
     'low': 240.05,
     'open': 241.92,
     'symbol': 'AAPL',
     'timestamp': datetime.datetime(2025, 1, 8, 5, 0, tzinfo=TzInfo(UTC)),
     'trade_count': 406916.0,
     'volume': 37628940.0,
     'vwap': 242.272854}]

In [51]:
# Convert res['AAPL'] into a pandas DataFrame
aapl_data = pd.DataFrame(res['AAPL'])
aapl_data

,0,1,2,3,4,5,6,7,8
0,"(symbol, AAPL)","(timestamp, 2025-01-02 05:00:00+00:00)","(open, 248.93)","(high, 249.1)","(low, 241.8201)","(close, 243.85)","(volume, 55740731.0)","(trade_count, 685448.0)","(vwap, 244.339399)"
1,"(symbol, AAPL)","(timestamp, 2025-01-03 05:00:00+00:00)","(open, 243.36)","(high, 244.18)","(low, 241.89)","(close, 243.36)","(volume, 40244114.0)","(trade_count, 493786.0)","(vwap, 243.069441)"
2,"(symbol, AAPL)","(timestamp, 2025-01-06 05:00:00+00:00)","(open, 244.31)","(high, 247.33)","(low, 243.2)","(close, 245.0)","(volume, 45045571.0)","(trade_count, 493920.0)","(vwap, 245.23906)"
3,"(symbol, AAPL)","(timestamp, 2025-01-07 05:00:00+00:00)","(open, 242.98)","(high, 245.55)","(low, 241.35)","(close, 242.21)","(volume, 40855960.0)","(trade_count, 462887.0)","(vwap, 243.011137)"
4,"(symbol, AAPL)","(timestamp, 2025-01-08 05:00:00+00:00)","(open, 241.92)","(high, 243.7123)","(low, 240.05)","(close, 242.7)","(volume, 37628940.0)","(trade_count, 406916.0)","(vwap, 242.272854)"
...,...,...,...,...,...,...,...,...,...
85,"(symbol, AAPL)","(timestamp, 2025-05-07 04:00:00+00:00)","(open, 199.17)","(high, 199.44)","(low, 193.25)","(close, 196.25)","(volume, 68616943.0)","(trade_count, 753075.0)","(vwap, 195.89945)"
86,"(symbol, AAPL)","(timestamp, 2025-05-08 04:00:00+00:00)","(open, 197.72)","(high, 200.05)","(low, 194.6796)","(close, 197.49)","(volume, 50478872.0)","(trade_count, 599001.0)","(vwap, 197.774244)"
87,"(symbol, AAPL)","(timestamp, 2025-05-09 04:00:00+00:00)","(open, 199.0)","(high, 200.5399)","(low, 197.535)","(close, 198.53)","(volume, 36453923.0)","(trade_count, 423067.0)","(vwap, 198.727532)"
88,"(symbol, AAPL)","(timestamp, 2025-05-12 04:00:00+00:00)","(open, 210.97)","(high, 211.2679)","(low, 206.75)","(close, 210.79)","(volume, 63775814.0)","(trade_count, 806841.0)","(vwap, 209.671497)"
89,"(symbol, AAPL)","(timestamp, 2025-05-13 04:00:00+00:00)","(open, 210.43)","(high, 213.4)","(low, 209.0)","(close, 212.93)","(volume, 51909484.0)","(trade_count, 608888.0)","(vwap, 211.920894)"

In [52]:
# Update column labels using the first tuple value
aapl_data.columns = [col[0] for col in aapl_data.iloc[0]]

# Drop the first row as it is now used as column labels
aapl_data = aapl_data.drop(0).reset_index(drop=True)

aapl_data

,symbol,timestamp,open,high,low,close,volume,trade_count,vwap
0,"(symbol, AAPL)","(timestamp, 2025-01-03 05:00:00+00:00)","(open, 243.36)","(high, 244.18)","(low, 241.89)","(close, 243.36)","(volume, 40244114.0)","(trade_count, 493786.0)","(vwap, 243.069441)"
1,"(symbol, AAPL)","(timestamp, 2025-01-06 05:00:00+00:00)","(open, 244.31)","(high, 247.33)","(low, 243.2)","(close, 245.0)","(volume, 45045571.0)","(trade_count, 493920.0)","(vwap, 245.23906)"
2,"(symbol, AAPL)","(timestamp, 2025-01-07 05:00:00+00:00)","(open, 242.98)","(high, 245.55)","(low, 241.35)","(close, 242.21)","(volume, 40855960.0)","(trade_count, 462887.0)","(vwap, 243.011137)"
3,"(symbol, AAPL)","(timestamp, 2025-01-08 05:00:00+00:00)","(open, 241.92)","(high, 243.7123)","(low, 240.05)","(close, 242.7)","(volume, 37628940.0)","(trade_count, 406916.0)","(vwap, 242.272854)"
4,"(symbol, AAPL)","(timestamp, 2025-01-10 05:00:00+00:00)","(open, 240.01)","(high, 240.16)","(low, 233.0)","(close, 236.85)","(volume, 61710856.0)","(trade_count, 685976.0)","(vwap, 236.564899)"
...,...,...,...,...,...,...,...,...,...
84,"(symbol, AAPL)","(timestamp, 2025-05-07 04:00:00+00:00)","(open, 199.17)","(high, 199.44)","(low, 193.25)","(close, 196.25)","(volume, 68616943.0)","(trade_count, 753075.0)","(vwap, 195.89945)"
85,"(symbol, AAPL)","(timestamp, 2025-05-08 04:00:00+00:00)","(open, 197.72)","(high, 200.05)","(low, 194.6796)","(close, 197.49)","(volume, 50478872.0)","(trade_count, 599001.0)","(vwap, 197.774244)"
86,"(symbol, AAPL)","(timestamp, 2025-05-09 04:00:00+00:00)","(open, 199.0)","(high, 200.5399)","(low, 197.535)","(close, 198.53)","(volume, 36453923.0)","(trade_count, 423067.0)","(vwap, 198.727532)"
87,"(symbol, AAPL)","(timestamp, 2025-05-12 04:00:00+00:00)","(open, 210.97)","(high, 211.2679)","(low, 206.75)","(close, 210.79)","(volume, 63775814.0)","(trade_count, 806841.0)","(vwap, 209.671497)"
88,"(symbol, AAPL)","(timestamp, 2025-05-13 04:00:00+00:00)","(open, 210.43)","(high, 213.4)","(low, 209.0)","(close, 212.93)","(volume, 51909484.0)","(trade_count, 608888.0)","(vwap, 211.920894)"

In [ ]:
import pandas as pd
p = res['AAPL'][0:5]
subset_data = {key: p[key] for key in ['close','high','low','open','volume','symbol','timestamp']}

data = pd.DataFrame([subset_data])
data
# []

ValueError: dictionary update sequence element #0 has length 9; 2 is required